body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}


.pageWrapper{
    background: linear-gradient(to left, #232526, #414345, #414345, #232526);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
}
.aboutMeWrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
#headShot{
    width: 20vw;
    height: auto;
    border-radius: 5%;
    margin-top: 5%;
    border: 1px solid black;
    box-shadow: 1px 2px 9px 4px rgb(144, 143, 143);
}
.aboutTextContainer{
    width: 80%;
    font-size: 1.1vw;
    margin-top: 3%;
}
p{
    line-height: 1.5em;
}
.badgeWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar{
    height: 40px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(  #eef2f3, #8e9eab);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    z-index: 1;
}
.homeLink{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homeIcon{
    width: 20%;
    height: auto;
    transition-duration: .2s;
    transition-timing-function: ease-out;
}
.homeIcon:hover{
    width: 25%;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
}
.badgeTitles{
    text-align: center;
    font-size: 1.5vw;
    margin-bottom: .3em;
    margin-top: 30px;
}
.badgeContainer{
    background-color: rgba(255,255,255,.5);
    border-radius: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    box-shadow: 1px 2px 9px 4px rgb(144, 143, 143);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.badge{
    height: auto;
    width: 5vw;
    margin: 10px;
}

#jsBadge{
    height: auto;
    width: 6.5vw;
}
#cssBadge{
    height: auto;
    width: 7.5vw;
    margin-right: 0;
}
#mongodbBadge{
    height: auto;
    width: 6vw;
}
#longBadges{
    height: auto;
    width: 10vw;
}
#photoshopBadge{
    margin-right: -1.5vw;
}
#ciscoBadge{
    height: auto;
    width: 10vw;
    margin: 0;
    margin-right: -2vw;
}
#awsBadge{
    height: auto;
    width: 6vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

@media screen and (max-width: 770px) {
    .aboutTextContainer{
        font-size: 1.5vw;
    }#headShot{
        width: 30vw;
        height: auto;
    }
}
@media screen and (max-width: 430px) {
    .pageWrapper{
        background: linear-gradient(to left, #232526, #414345, #414345, #232526);
        height: 120%;
    }
    .badgeTitles{
        font-size: 4vw;
    }
    .pageWrapper{
        grid-template-columns: 1fr;
    }
    .aboutTextContainer{
        font-size: 2.9vw;
        margin-top: 1%;
        margin-bottom: 15%;
    }
    #headShot{
        width: 40vw;
        height: auto;
        border-radius: 5%;
        margin-top: 5%;
    }
    .badgeWrapper{
        margin-top: -20%;
    }
    .badge{
        width: 10vw;
        height: auto;
     }
     #jsBadge{
        height: auto;
        width: 13vw;
    }
    #cssBadge{
        height: auto;
        width: 16vw;
    }
    #mongodbBadge{
        height: auto;
        width: 16vw;
    }
    #longBadges{
        height: auto;
        width: 25vw;
    }
    #ciscoBadge{
        height: auto;
        width: 17vw;
        margin: 0;
        margin-right: -2vw;
        margin-left: 2vw;
    }
    #awsBadge{
        height: auto;
        width: 10vw;
    }
}
@media screen and (max-width: 375px) {
    #awsBadge{
        margin-right: 2vw;
        margin-left: -2vw;
    }
    #photoshopBadge{
        margin-left: 3vw;
        margin-right: -3vw;
    }
   
}




