.navbar{
    height: 45px;
    width: 100%;
    position: sticky;
    top: 0px;
    background-image: linear-gradient(  #eef2f3, #8e9eab);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    z-index: 1;
}
.navLinkWrapper{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
}
#aboutNavbarIcon{
    width: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-right: 10vw;
}
#gitNavbarIcon{
    width: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-right: 5vw;
}
#homeNavbarIcon{
    width: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-left: 5vw;
    margin-right: 5vw;
}
#linkedinNavbarIcon{
    width: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-left: 5vw;
    
}
#resumeNavbarIcon{
    width: 25px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    margin-left: 10vw;
}
#aboutNavbarIcon:hover{
    width: 35px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
    left: 37.5%;
}
#gitNavbarIcon:hover{
    width: 35px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
    left: 42.5%;
}
#homeNavbarIcon:hover{
    width: 35px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
    left: 47.5%;
}
#linkedinNavbarIcon:hover{
    width: 35px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
    left: 52.5%;
}
#resumeNavbarIcon:hover{
    width: 30px;
    transition-duration: .2s;
    transition-timing-function: ease-out;
    border-radius: 50%;
    border: 2px solid black;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    left: 57.5%;
}

/* @media screen and (max-width: 1000px) {
    #aboutNavbarIcon{
        left: 27%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #gitNavbarIcon{
        left: 35%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #homeNavbarIcon{
        left: 43%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #linkedinNavbarIcon{
        left: 51%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #resumeNavbarIcon{
        left: 59%;
        margin-left: 5vw;
        margin-right: 5vw;
    }
} */
